@{
    ViewData["Title"] = "Free Lancing";
}
<h1>@ViewData["Title"]</h1>

<div class="prospect-employee">
    <p>
        Marcel Harvey
        <br />
        <a href="mailto:marcelharvey1@gmail.com.com?subject=Service%20Inquiry&body=Hi%20there,%0A%0AI'm%20interested%20in%20your%20services.">marcelharvey1@gmail.com</a>
        <br />
        071 453 5989
        <br />
        <br />
    </p>


    <h3>About me</h3>
    <p>
        Hi, I’m Marcel, a freelance developer passionate about building custom web applications that make everyday tasks easier and businesses run smoother. I focus on creating modern, efficient, and reliable solutions
        — from management systems and e-commerce tools to workflow automation and data tracking apps.
    </p>

    <p>
        I work with technologies like .NET Core, Angular, and Django, allowing me to design full-stack web applications that are both powerful and user-friendly. My goal is to bring ideas to life through clean design, 
        efficient functionality, and a focus on what truly matters — solving real problems.
    </p>

    <p>
        Every project I take on is built from the ground up with care, performance, and scalability in mind. Whether you’re a small business owner, startup founder, or just someone with a great idea, I’m here to help 
        turn that idea into a working product.
    </p>

    <p>
        Let’s create something functional, smart, and built to last.
    </p>
</div>

<div>
    <h2>What services do I offer</h2>

    <ul class="stripped-list">
        <li>
            Standard website
        </li>

        <li>
            Web applications
        </li>

        <li>
            Desktop applications
        </li>

        <li>
            Web hosting
        </li>
    </ul>
</div>