@model List<ADE_Web.Models.BlogModel>

@{
    ViewData["Title"] = "Blogs / Home";
}

<div id="index-dev-app-title">
    <h2>My Personal Blog</h2>
    <p>
        Follow my blog to see what I am up to
    </p>
</div>

<div class="card-layout-container">
    @foreach (var blog in Model)
    {
        <div class="card">
            <h3>@blog.BlogTitle</h3>

            <div class="app-section">
                <p>@blog.BlogContent</p>
            </div>

            <div class="app-section">
                <p id="date-posted">@blog.DatePosted</p>
            </div>
        </div>
    }
</div>
