@model ADE_Web.Models.ViewModels.CreateTechStackBiewModel

@{
    ViewData["Title"] = "Create New Tech Stack";
}

<h2 class="mb-4">Create New Tech Stack</h2>

<form asp-action="CreateTechStack" method="post">
    <div class="form-group mb-3">
        <label asp-for="Language" class="form-label">Language</label>
        <input asp-for="Language" class="form-control" />
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Proficiency" class="form-label">Proficiency</label>
        <input asp-for="Proficiency" class="form-control" />
        <span asp-validation-for="Proficiency" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save App</button>
    <a asp-action="ViewTechStack" class="btn btn-outline-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
